[2013-12-18 23:33] abjerner opened #1 "Needs better error check when getting data from the Google Analytics API"
Eg. when specifying an invalid profile, the code will thrown an NullReferenceException.

[2014-01-13 00:12] nadavl opened #2 "Can't compile out-of-the-box"
Seems like a great thing! Looking forward to try it in my current project.

However, Got this one right after downloading & compiling:

The command "D:\Temp.netsocial\src\Skybrud.Social.PreBuildTool.exe D:\Temp.netsocial\src\" exited with code 9009. Skybrud.Social

[2014-01-15 21:23] #2 closed, assigned to abjerner

[2014-03-10 17:49] coommark opened #3 "How Do I Perform a Tag Search?"
Hello. This project really looks like the future. I just want to ask.. Is there a way I can search for tags using client id only? Something like the:

https://api.instagram.com/v1/tags/SEARCH-TAG/media/recent?client_id=CLIENT-ID

Pls can you provide a sample code if possible?

[2014-09-24 20:24] steve-swanson opened #5 "Tags sometimes null when getting videos - NullReferenceException"
\Vimeo\Simple\Objects\VimeoVideo.cs line 93:

Tags = obj.GetArray("tags").Cast<string>()

Sometimes obj.GetArray("tags") is null and causes a NullReferenceException.

Here is some code to reproduce the issue:

[code]

Updated line 93 to the following as a test and it fixed the issue:

[code]

[2014-09-24 20:53] #5 closed, assigned to nobody

[2014-11-08 01:04] steve-swanson opened #6 "Enhancement Request: Facebook Comment & Like Counts"
When accessing the feed for a page (maybe a profile as well? I'm not sure) the like and comment counts are not returned in the JSON so the count on the object is 0. Would you entertain the idea of adding two more calls to populate the comment and like counts?

You have to request the summary for the comments and likes to get the counts. Here are two example URLs:

https://graph.facebook.com/v2.1/{

[2014-11-08 02:26] steve-swanson opened #7 "Enhancement Request: Facebook Talking About Count"
When requesting information about a Facebook page through Methods.GetUser() the talking_about_count is returned by Facebook, but is not part of the FaceBookUser object. Would it be possible to have that added to the object since the data is available already?

[2014-11-10 18:29] steve-swanson opened #8 "TwitterTimelineOptions.MaxId"
This should be a long, not an int. The Twitter API uses a long for this, as well as your other objects.

[2014-11-10 18:35] #8 closed, assigned to nobody

[2014-11-11 02:20] steve-swanson opened #9 "Enhancement Request: Twitter Favorite Count on Tweet"
As with the others, the favorite count for a tweet is returned in the JSON from Twitter and just needs to be added to the object and parsed.

[2014-11-11 21:40] #9 closed, assigned to nobody

[2014-11-11 22:49] steve-swanson opened #10 "Enhancement Request: Facebook GetPosts Options"
GetPosts should allow the options to be set just like GetFeed as they are essentially the same except that /posts only shows posts by that user/page whereas /feed can also show posts from other users/pages.

[2014-11-12 01:40] steve-swanson opened #11 "Enhancement Request: Facebook Post Share Count"
The count of shares is available in the JSON for both /feed and /posts. It just needs to be added to the FacebookFeedEntry and FacebookPostSummary and be parsed.

[2014-11-12 22:34] #11 closed, assigned to nobody

[2014-11-21 00:29] steve-swanson opened #12 "Enhancement Request: Instagram Counts on User Object"
There is a Counts object returned in the JSON which contains the total media count for the user, the number of people following the user, and the number of people the user is following. If that could be added in it would be great.

Thanks again for all of your work on this project!

[2014-11-21 23:41] steve-swanson opened #13 "CreatedAt string from Twitter is sometimes null"
TwitterUtils.ParseDateTime throws a null reference exception at times because of a null string from Twitter. I don't know if this is the same for the ParseDateTimeUtc when parsing the date/time string for tweets, but I would assume it could be an issue as well.

[2014-11-22 12:49] #3 closed, assigned to nobody

[2014-11-23 16:16] #6 closed, assigned to abjerner

[2014-11-23 16:32] #10 closed, assigned to abjerner

[2014-11-23 17:09] #12 closed, assigned to abjerner

[2014-11-23 22:27] #7 closed, assigned to abjerner

[2014-11-24 23:00] #13 closed, assigned to nobody

[2014-11-29 11:05] arun6012 opened #14 "How to search based on #hashtag in twitter"
How to search based on #hashtag in twitter

[2014-12-01 18:46] #14 closed, assigned to nobody

[2014-12-01 18:51] arun6012 opened #15 "How to search the tweets based on maxid concepts"
Hi,

I am using the below method to get the tweets based on hashatag but when i am querying again with refreshURL and the output is statuses is 0 but count its showing 15.

Please help me to resolve this problem.

TwitterSearchTweetsResponse tweetres = twitter.Search.GetTweets("#DIFF2014", 50);
            string reurl = tweetres.MetaData.RefreshUrl.ToString();
            TwitterSearchTweetsRespo

[2014-12-10 17:07] arun6012 opened #16 "Twitter Search on regular interval"
Hello,

I have an issue while searching tweets for a keyword. I am searching for a keyword on regular interval.

ex: am setting count as 10. actually the key word is available in 13 tweets.So for the first run i am getting 10 and for second run am passing last maxid to the option property, so am getting remaining 3. in the mean time one more tweet has tagged with my search keywork. so how can get

[2015-01-23 01:48] EnterpriseWide opened #18 "FacebookDebugTokenResponse.cs is not found"
Hey there,
Just looking around and found this file included in the solution but missing from source. Thanks for the library BTW. #h5yr
Error	1	Source file 'Facebook\Responses\Debug\FacebookDebugTokenResponse.cs' could not be found	C:\Users\abjerner_wannabe\Documents\work\Skybrud.Social\src\Skybrud.Social\CSC	Skybrud.Social

[2015-01-23 16:39] abjerner commented on #18
Sorry about that. The `Debug` folder is ignored by the `.gitignore` file, so the file had to be added manually. I have done that now, so compiling works again ;)

[2015-01-23 16:39] #18 closed

[2015-01-23 16:39] #16 closed

[2015-01-25 06:45] arun6012 opened #19 "How to access the google web analytics data"
Hi,

Could please provide some sample code, how to authenticate and get the data from Google web analytics?

I want create a dashboard with chart options for one web site analytics, can you please help me how to use your dll for Google analytics.

Thanks,

[2015-01-25 15:32] abjerner commented on #19
I don't know how much you have working so far. If you don't already have an access token or refresh token, you can have a look at this Gist, which shows how to setup basic authentication in WebForms:

https://gist.github.com/abjerner/9eea20afc4ba108ef83b

Communication with the Google APIs starts with the `GoogleService` class. Once you have a valid access token, you can get an instance as:

[code

[2015-02-07 21:50] #15 closed

[2015-02-07 21:50] #19 closed

[2015-02-12 21:57] EnterpriseWide opened #20 "next release"
Hey there, How close do you think you are to a new release?
Do you have a list of things to do?

[2015-02-12 22:34] abjerner commented on #20
I'm actually working on the last bits for the next release now, and it will be released either tonight or some time tomorrow (Danish time) depending on how long time it takes. The next release will be `v0.9.0`, which will be very similar to the `v0.9.0-alpha1` released a few days ago.

Regarding plans, my main goal towards `v1.0` is that all endpoint methods should return an object representing th

[2015-02-12 22:43] EnterpriseWide commented on #20
im after paging against the facebook and instragram implementations at the moment but will be after twitter and google probably later. I notice both of those have been active and that instagram now has that. Sample code doing paging for both of those would be great.

[2015-02-13 18:04] abjerner commented on #20
Hi. I have now released `v0.9.0` ;)

Most endpoint methods already support pagination if it is supported in the underlying API. Pagination works a little different from method to method - even for the same API. Is there any specific methods you're trying to use with pagination? Then I can try to post some documentation here.

Anyways, I'm working on a new website for Skybrud.Social somewhat simult

[2015-02-13 21:45] EnterpriseWide commented on #20
Hey Anders,
I am using 2 . First is instagram recent media and second is facebook posts

Instagram ...

            var authorisationValue = app.GetValue<string>("authorisation");
            var instagram =
InstagramOAuthData.Deserialize(authorisationValue);
            if (instagram != null && instagram.IsValid)
            {
                var service = instagram.GetService();

[2015-02-14 01:05] abjerner commented on #20
**Facebook posts**
I can see that you're using my Umbraco package. The package still uses `v0.1.2`, so pagination isn't fully supported.

I can't see exactly what your trying to do, but for Facebook posts the maximum limit allowed by the API is 250 posts, so perhaps you don't need pagination at all? Anyways, in `v0.1.2` you can do something like:

[code]

In `v0.9.0` you can do something like the

[2015-02-14 01:38] abjerner commented on #20
**Instagram**

Again, I'm not 100% sure what you're trying to do. It seems that your doing the pagination right, but from what I can tell, your if statements results in only the first request being sent.

If you're trying to fetch the first X amount of posts for a given user, you can do something like the code below (in `v0.9.0` that is):

[code]

In `v0.1.2` simply replace the class name `Instagr

[2015-02-14 01:41] abjerner commented on #20
Also in both your Facebook and Instagram code, you're making a lookup on the authenticated user. Unless you have a specific reason for this, it shouldn't be necessary.

For Facebook you can simply replace the user ID with `me` (which is a magical constant referring to the authenticated user):

[code]

In Instagram, you can simply change:

[code]

to:

[code]

[2015-02-18 00:38] EnterpriseWide opened #21 "pictures from facebook"
Do you know how to get images from facebook for posts with a video in it?
Do I need to make another call to get the thumbnail for the video?
I currently make the following call and the picture that comes back is not returning any data :(

var posts = service.Posts.GetPosts(user.Id, 50).Body.Data;

[2015-02-18 17:20] abjerner commented on #21
If a post contains a video, the URL of a thumbnail or screenshot will be available through `post.Picture`.

I don't think there is a way to lookup the size of the image other than downloading the image file and checking the file size from your own code.

[2015-02-19 01:52] EnterpriseWide commented on #20
This is what I did to get paging working on facebook:

thanks for the pointers
[code]

[2015-02-25 12:57] abjerner opened #22 "Expose rate limiting information in the TwitterResponse class"

[2015-02-25 20:52] abjerner commented on #22
Implemented in ff450227099f21c367aab75da56a01fd852c2eb3 :D

[2015-02-25 20:52] #22 closed

[2015-04-15 14:26] abjerner opened #24 "Add CreateFromClientId method to InstagramService class."
The `InstagramService` class can currently only be initialized by calling either `CreateFromAccessToken(string accessToken)` or `CreateFromOAuthClient(InstagramOAuthClient client)`.

Since it is possible to use a client ID instead of an access token, a `CreateFromClientId(string clientId)` method should be implemented as well.

[2015-04-15 14:27] #21 closed

[2015-04-15 14:28] #20 closed

[2015-04-28 16:28] abjerner opened #25 "Exposes "extended_entities" property for status messages"

[2015-05-12 20:19] seanhak opened #26 ""Source" missing from Skybrud.Social.Facebook.Objects.Posts.FacebookPost"
Hi!
I need to access the "Source" graph property to get access the video uploaded to my feed. (/me/feed)

[2015-05-12 20:24] seanhak opened #27 "Facebook localisation"
Are there any options to specify locale output?

/me/feed?**locale=sv_SE**

[2015-05-12 21:24] abjerner commented on #26
Hi Sean,

I will make sure to add the property for the next release.

Meanwhile, since the objects expose the underlying JSON, you should be able to access the source property like:

`post.JsonObject.GetString("source")`

[2015-05-12 21:28] abjerner commented on #27
Hi Sean,

I haven't really looked into localization yet, so this is not something that is supported.

Do you have by any chance have some examples where localization makes sense?

[2015-05-12 22:41] seanhak commented on #27
Hi!
It's basically appending locale=xx_XX for every graph request.

Scope: /me/feed
"story": "Seanhak uploaded a new video.",

With locale=da_DK
"story": "Seanhak overf\u00f8rte en ny video"

I guess I could also check "status_type", and use Umbraco dictionary for different cases.

[2015-05-12 22:48] seanhak commented on #26
Cool! Really nice project, i hate having 5 different nugets with all different dependencies and versions.
I'm afraid I'm a bit lost without documentation, had to switch to c# sdk :(
Is there a method to call any graph object "directly", i.e. FacebookService Api("/graphid/")

[2015-05-13 16:17] abjerner commented on #26
Hi again,

Sorry for the lack of documentation. I'm currently building a new website for Skybrud.Social, which will feature a greatly improved documentation. It will be online very soon ;)

If you already have an instance of `FacebookService` (or `FacebookClient` really), you can do something like:

[code]

You can then manually parse the JSON with either my `JsonObject` class as a starting point

[2015-05-13 16:19] abjerner commented on #27
Thanks. I will make sure to add an option for that to the next release ;)

Meanwhile you could change your code to something like:

[code]

[2015-05-14 17:35] seanhak commented on #26
Million thanks!
By the way, the reason I need the documentation is not because bad code or anything, its just that I'm a frontend guy who likes to experiment with c#/razor from time to time, no need to apologize.
That said, I'm really looking forward to your new skybrud.social site :)
Please let me donate that domain name as a thank you!

[2015-05-17 20:44] abjerner commented on #26
Thanks for the feedback.

I have now implemented the `Source` property in both the `FacebookFeedEntry` and the `FacebookPost` classes. I will see whether I can find the time to push out a new release some time in the coming week ;)

My reason for apologizing was mostly because I'm not satisfied with the amount of documentation myself. A project like this should have better documentation.

Regardin

[2015-05-21 14:12] biapar opened #28 "Is't possible to use the package to login with social with Umbraco membership?"
Is't possible to use the package to login with social with Umbraco membership?

[2015-05-21 15:52] abjerner commented on #28
Hi Biagio,

Yes and no. It is not something that is supported by this package - at least not out of the box - so you will have to do some work on your own.

I can see that you have posted a similar question for [my package on Umbraco Our](https://our.umbraco.org/projects/website-utilities/skybrudsocial-for-umbraco-7/general-discussion/65012-Ist-possible-to-use-this-pack-for-social-authetication-wi

[2015-05-28 20:35] abjerner commented on #26
Hi Sean,

I have now pushed a new release where the `Source` property has been added ;)

[2015-05-28 20:35] #26 closed

[2015-05-28 20:40] abjerner commented on #27
Hi again,

I have now pushed a new release where this is supported.

I have added a `Locale` property to the `FacebookOAuthClient` class, so you can use it like:

[code]

or

[code]

The locale is then used for all request to the Graph API ;)

[2015-05-28 20:40] #27 closed

[2015-05-28 20:44] #28 closed

[2015-06-18 22:22] abjerner opened #29 "Add support for LinkedIn"
I have some code lying around for this, that I need to finish and clean up a bit. This is probably something that will be added after the release of `v1.0`.

[2015-06-19 20:44] abjerner opened #30 "Parsing of class "FacebookUser" fails if gender isn't specified in the JSON"

[2015-06-19 21:01] abjerner opened #31 "Less validation when parsing or initializing "AnalyticsMetric""
Google has added new metrics, and deprecated others, which I haven't yet had the time to update time.

The `AnalyticsMetric` class currently only allows instances of metrics that are already declared in Skybrud.Social, so calling `AnalyticsMetric.Parse("ga:sessions")` will throw an exception.

There should be a way to initialize new metrics that are not declared in my code.

The `AnalyticsDimensio

[2015-06-19 21:02] abjerner opened #32 "Update "AnalyticsMetric" and "AnalyticsDimension" with new metrics and dimensions"
As well as marking deprecated metrics and dimensions as obsolete.

Reference: https://developers.google.com/analytics/devguides/reporting/core/dimsmets

[2015-06-19 21:05] abjerner opened #33 "Add support for retweeting"
Suggested by @filipbech

[2015-06-23 19:24] abjerner commented on #24
Fixed and will be a part of the next release :D

[2015-06-23 19:24] #24 closed

[2015-06-23 19:49] abjerner commented on #30
Fixed :D

[2015-06-23 19:49] #30 closed

[2015-06-23 20:55] abjerner commented on #31
The metric is now not validated when initializing using operator overloading:

[code]

[code]

Using the `Parse` and `TryParse` methods will still throw an exception if the metric isn't known.

[2015-06-23 20:55] #31 closed

[2015-06-23 21:49] abjerner commented on #33
Implemented in 841c7f0e31eac13864ec92a132eb04ebad45e4b6 :D

[2015-06-23 21:49] #33 closed

[2015-07-16 20:01] joshua-stewart opened #34 "Facebook.Likes.Count and Facebook.Comments.Count are always returning 0"
In 0.9.3 FacebookPost.Likes.Count and FacebookPost.Comments.Count are returning 0

The FacekbookLikes call and the FacebookComments calls are trying to parse the "count" property the same way you changed Shares to work in 0.9.3 using:

Count = obj.GetInt32("count")

but neither Likes or Shares have a "count" property in the JsonObject so they are both returning 0.

[2015-07-16 20:54] abjerner commented on #34
Thanks for reporting :D

I can't remember this exactly, but then Facebook might have changed something. I will look into it, and create a fix for the next release if necessary ;)

[2015-07-16 20:59] joshua-stewart commented on #34
Thanks for the quick response - I appreciate it.

I did a bit of digging and it looks like to get the counts for Likes and Comments you have to set the summary flag to true and then they comeback with a summary element and property of total_count

You can test it by using these URLs:

https://graph.facebook.com/POST_ID/likes?summary=true&access_token=XXXXXXXXXXXX

https://graph.facebook.com/POST_I

[2015-07-17 15:01] joshua-stewart commented on #34
I did some more research and it appears there isn't a way to specify summary=true when pulling all posts unless you specify which fields you want. So in order to return the counts for Likes and Comments you can either build a query that specifies all the fields and add .summary(true) to the likes and comments fields or make a separate call like the one below to return just the Likes and Comments t

[2015-07-17 15:59] abjerner commented on #34
Looking a bit further into the matter, it still seems that Facebook has changed something in their API - also for some of the older API versions (Skybrud.Social uses v2.2 by default). I'm pretty sure the comment count and like count was exposed by default when I wrote the code.

Anyways, I think you're right regarding having to specify which fields that should be returned. This becomes even more n

[2015-07-19 07:48] chandrashekharkhod opened #35 "Facebook Login Issue"
I've passed all parameters AppID and Secrete Code
Generated AccessToken and redirect url
When user login in facebook and redirect to website it will show error:

// Initialize the Facebook service (no calls are made here)
var service = FacebookService.CreateFromAccessToken(userAccessToken);
var user = service.Users.GetUser(); ******HERE user = null**********

[2015-07-19 12:47] abjerner commented on #35
What version of Skybrud.Social are you using? If the Facebook API responds with an error, Skybrud.Social should throw an exception rather than just returning `null`.

Anyways, to test your issue a bit, could you try calling:

[code]

And then send me the values of both `raw.StatusCode` and `raw.Body`. The latter will contain the raw JSON received from the Facebook API. Notice that if this call is

[2015-07-21 16:53] joshua-stewart commented on #34
Thank for the update. Sounds great.

[2015-07-30 15:15] chandrashekharkhod commented on #35
Thank you for your reply,
But I'm using this in MVCForum. I think all the code is correct by MVCForum.
I've little dough about Facebook Permissions. Should I get Approval from Facebook for my App?
I'm seeing there is "Unapproved" App Info. Please find the screenshot.
Here I just want public data from facebook i.e. emailid, profile picture, Name etc.
![facebook](https://cloud.githubusercontent.com/

[2015-07-30 16:46] abjerner commented on #35
Hi again,

The approved flag is for something else, and shouldn't affect the login, so that is not the culprit.

The intention behind my last post was to see whether the Facebook API returns any errors, and if I haven't handled them correctly in Skybrud.Social. Not knowing this, and since I can't recreate your issue at my end, makes it hard for me to find out whether this is a bug in Skybrud.Socia

[2015-08-04 08:10] makdff commented on #29
Hi. When are you able to release your v.1.0 of Skybrud with implementation of linkedin authentification support?

[2015-08-04 15:32] abjerner commented on #29
LinkedIn is currently not an area of focus, since I'm working on improving the implementation for the services already supported instead.

I don't really have a time frame for when `v1.0` will be released since I primarily work on this project in my spare time. An optimistic guess is that `v1.0` will be out in a couple of months, but LinkedIn support is something that will be introduced *after* th

[2015-08-04 19:53] fedrch opened #36 "Instagram tags endpoint missing search"
Missing api fearture https://instagram.com/developer/endpoints/tags/#get_tags_search

[2015-08-04 20:38] abjerner commented on #36
Thanks for reporting. I will make sure to add that for the next release ;)

[2015-08-06 11:27] Rich2020 commented on #35
Hi, I am having the same issue. Here is my StatusCode and Body response:

StatusCode: OK
StatusDescription: "OK"
Body: {"name":"Richard Cloete","id":"825993744145433"}
Response.Server is: ""

[2015-08-06 11:57] abjerner commented on #35
Hi Richard,

I'm pretty sure your issue is due do something else. Since the JSON received for your user doesn't specify a gender, the parsing will fail, which then will trigger an exception (see #30).

This bug has already been fixed, but I haven't yet had the time to make a new release. Hopefully I'll be able to make that soon ;)

[2015-08-06 12:00] Rich2020 commented on #35
Hey, thanks for the quick reply.

Awesome, I will wait for the release. Many thanks!

[2015-08-06 12:34] abjerner commented on #35
@chandrashekharkhod Given your error report for MvcForum ([link](https://github.com/leen3o/mvcforum/issues/25)), it seems your example is similarly trowing an exception rather than returning null, so I'm assuming you're experiencing the same as Richard (gender not specified in the JSON received from Facebook).

[2015-08-06 12:40] Rich2020 commented on #35
@abjerner I should also point out that I am developing on my local machine where the site URL is http://localhost:999

Not sure if this will make a difference, but thought I'd say-so, just in case.

[2015-08-06 13:10] abjerner commented on #35
@Rich2020 That shouldn't matter, as it is a bug in my parsing ;)

[2015-08-06 13:11] Rich2020 commented on #35
@abjerner Ahh, okay ;)

[2015-08-07 07:20] chandrashekharkhod commented on #30
Hello,
I've changed as above, Now I'm getting error about email access.
Unable to get email access

[2015-08-07 08:50] abjerner commented on #30
@chandrashekharkhod I'm not sure that I understand - what have you changed? And how do you get an error about the email address? Is this an error (exception) from Skybrud.Social or an error shown by MvcForum?

[2015-08-07 09:56] chandrashekharkhod commented on #30
Hello,

Thank you for quick reply, I've changed in JsonObject.cs as below link:
https://github.com/abjerner/Skybrud.Social/commit/6100a9e577133038c04b6cda5a9f88d3a248a54e

[2015-08-07 10:08] abjerner commented on #30
@chandrashekharkhod Alrighty.

If Facebook doesn't respond with an email address in the JSON for a given user, the `Email` property should simply return `null`.

How exactly do you see the error about the email address? I'm thinking it is more an issue with MvcForum (since user creation might require an email address).

The more information you're able to provide, the easier it is for me to find o

[2015-08-09 14:13] bgadiel opened #37 "Error in Authorize Facebook account on Localhost"
Hi,
I installed the plugin on Umbraco7.2.8 and I run into the following error when trying to Authorize my account:
Invalid Scopes: read_stream. This message is only shown to developers. Users of your app will ignore these permissions if present. Please read the documentation for valid permissions at: https://developers.facebook.com/docs/facebook-login/permissions

For Redirect URI I used: www.mylo

[2015-08-09 14:44] abjerner commented on #37
@bgadiel It seems that Facebook has removed this scope from the most recent version of their API (which is `v2.4` - [read more](https://developers.facebook.com/docs/facebook-login/permissions/v2.4#reference-read_stream)). If you go to your app on the Facebook developer site, can you confirm that your app is using `v2.4`? You should be able to see this at the top of the `https://developers.facebook

[2015-08-09 17:47] bgadiel commented on #37
Yes, you're correct, my app is registered for v2.4.
I will try to play around and see if I can find a workaround.
Thanks for the quick response.

[2015-08-09 17:47] #37 closed

[2015-08-10 13:06] rlindabury commented on #35
I'm having the same issue with MVCForum using this library. I'm looking forward to the update! :-)

[2015-08-11 15:48] abjerner commented on #36
This was implemented a few days ago, so if you pull down the latest code, you will be able to do something like:

[code]

I will make a new release in one of the following days (or today if I can make it).

[2015-08-11 15:48] #36 closed

[2015-08-11 18:32] abjerner commented on #1
The code will now properly throw an `AnalyticsException` exception if the Analytics API responds with any errors.

[2015-08-11 18:32] #1 closed

[2015-08-11 19:09] abjerner commented on #32
Moving this to `v0.9.4.1` to speed up the release of `v0.9.4`.

[2015-08-11 19:10] abjerner commented on #25
Moving this to `v0.9.4.1` to speed up the release of `v0.9.4`.

[2015-08-11 19:13] abjerner commented on #34
Moving this to `v0.9.4.1` to speed up the release of `v0.9.4`. Hoping to release `v0.9.4.1` soon though ;)

[2015-08-12 19:40] abjerner commented on #35
I have now made a new release of Skybrud.Social where the bug should be fixed. To get the new version, simply update the package via NuGet.

I haven't tested in MVCForum though, so please report back whether you still have any issues.

[2015-08-12 20:09] abjerner commented on #29
@makdff I have now added a new project to the solution called `Skybrud.Social.LinkedIn`. I have uploaded this due to requests by a few users, but it will not be officially supported until at least after `v1.0`, meaning that I wont have the time to document or answer questions.

Anyways, this little snippet might help you out with then authentication using OAuth 2.0:

[code]

[2015-08-12 20:48] rlindabury commented on #35
Fantastic! Perfect timing. We'll be testing this shortly in MVCForum because we're looking to launch tghe forums this week. Thank you!

I'll report back ASAP.

[2015-08-12 22:16] rlindabury commented on #35
Ok.. it seems to fail. The message I get on MVC Forum is as follows:

Unable to gain access to your email address - please check your permissions

I'll double-check my FB app but I believe email doesn't require any special perms.

[2015-08-12 22:24] abjerner commented on #35
@rlindabury I don't think the email issue has something to do with this. The bug I fixed was that the parsing would fail if the gender wasn't specified in the JSON. For the email, the property should simply be `null` if not present.

Anyways, can you shed some more light in the email error? I think this is more an issue in MVCForum than in Skybrud.Social, as I can't think of anything in my code th

[2015-08-12 22:41] abjerner commented on #35
Hadn't thought of this:

In `v2.4` of the Graph API, only the `name` and `id` properties will be returned by the API unless `fields` is specified in the query string. This is a breaking change from Facebook's side. If you have registered a new app after the launch of `v2.4` of the Graph API, your app will be configured to use this version, and it isn't possible to use older versions. If your app w

[2015-08-12 22:52] makdff commented on #29
@abjerner Great thanks :)

[2015-08-13 05:21] leen3o commented on #35
Could you explain what I would need to change? As I explicitly ask for the email address already? So am a little confused?

https://github.com/leen3o/mvcforum/blob/master/MVCForum.Website/Controllers/OAuthControllers/FacebookOAuthController.cs#L142

Is this not enough in the new apps?

[2015-08-13 07:05] abjerner commented on #35
@leen3o With earlier versions of the Graph API, a call to `/me` would return a number of fields by default (including email if the `email` scope is present). Eg. with `v2.3`, a call to `/me` would look like:

[code]

With `v2.4` only very basic properties are returned by default, so a call to `/me` will only return the ID and the name of the user, not the email address even if the user has granted

[2015-08-13 14:51] rlindabury commented on #35
@abjerner Thanks for the update and explaination!

I look forward to the new build.

[2015-08-13 22:46] abjerner commented on #35
I have now released `v0.9.4.1`, which lets developers specify which fields that should be returned. This means that @leen3o  will have to update MVCForum as well.

A call to get information about the authenticated user could now look like:

[code]

I'll update the documentation with further information on this when I can find the time ;)

[2015-08-14 08:44] leen3o commented on #35
All updated in v1.7 branch. Great work on such a quick fix :+1:

[2015-08-14 09:22] abjerner commented on #35
@leen3o Awesome. I suppose Dialogue suffers from the same issue?

Anyways, a little tip: As I'm continuing the development of `v0.9.x`, I try to avoid breaking changes, but then mark a lot of stuff as obsolete. It is my plan to remove most (if not all) of the obsolete code in `v1.0`, so just as a safety measure, I would recommend updating the NuGet dependency for your package to:

[code]

Thus req

[2015-08-14 09:53] leen3o commented on #35
Yes. I haven't touched Dialogue for a while. Once v1.7 is out for MVCForum then I'm going to jump onto Dialogue.

I have updated the dependency in v1.7 - Thanks.

[2015-08-14 13:58] seanhak opened #38 "Possible to change API version?"
This 2.4 "optimization" from Facebook really bums me out since GetPosts doesn't support fields yet.

However is it possible to specify with some kind of option to use 2.3 until skybrud is 100% compatible? It shouldn't shut down until 2017 something.

Cheers!

[2015-08-14 15:16] abjerner commented on #38
Hi Sean,

If you update to `v0.9.4.1` (released last night), this is now supported through the `FacebookGetPostsOptions ` class - I just haven't had the time to update the documentation yet.

[code]

Regarding using an older version of the Graph API, this is actually also supported. But with a big IF. When you register a new app, the app is automatically configured to use the latest version of the

[2015-08-14 16:37] abjerner commented on #34
Just a little update:

As of `v0.9.4.1`, this is now supported for most endpoints - including the `Posts` endpoint.

To specify the fields to be returned, you can now do something like:

[code]

Notice that the `FacebookGetPostsOptions` now replaces the `FacebookPostsOptions` class. `FacebookPostsOptions` can still be used, but is marked as obsolete.

I will try to update the remaining endpoints f

[2015-08-14 19:41] seanhak commented on #38
Wow, thanks for reply, didn't expect you to reply that fast.
I'm running this update, I think there ***might*** be a bug, I can use `FacebookGetPostOptions` for `GetPost`, but not `GetPosts`, which only accepts `FacebookPostsOptions`.

My mind is a bit blurry right now, but I recall same issue applies to the `GetFeed`.

API versioning is awesome, that is definitely some good practice to always spe

[2015-08-15 11:41] abjerner commented on #38
It should still work. Notice that for the `GetPost` method the options class is called `FacebookGetPostOptions` with post in singular, while for the `GetPosts` the (new) options class is called `FacebookGetPostsOptions` with posts in plural.

I just created a new and clean console application, installed `v0.9.4.1`of Skybrud.Social, and the following code compiles and works fine:

[code]

[2015-08-15 13:30] seanhak commented on #38
Oh I see now, I'm so stupid :facepunch:
Your example works excellent - no bug! I used `GetPosts("identifier", options)` - that's why I was "only" getting standard `FacebookPostsOptions`

Thanks a lot for *all* your help mate!

[2015-08-15 16:22] abjerner commented on #38
No worries. I changed the parameters, and haven't updated the documentation yet ;)

[2015-08-15 16:22] #38 closed

[2015-08-15 16:27] #35 closed

[2015-09-25 06:41] Krustocious opened #39 "Facebook - how to get a list of posts with specific fields from a feed"
Hi there,
I've been playing around with both the Skybrud.Social Instagram and Facebook API's for a bit, and had a few questions about Facebook.

I am currently able to get a list of posts (with specified fields) from a Facebook page (i.e all posts the admin of the page had made) with no problems, but I was wondering how I would get a list of posts from the feed of a Facebook page (i.e every post t

[2015-09-25 08:16] abjerner commented on #39
Hi Krustocious,

I haven't gotten around to add support for fields to the `GetFeed` method yet. If you just need to get the posts of a Facebook page, you should still be able to get the posts of that page by specifying the alias - eg. like:

[code]

If you're still poking around in the source code, you can use the page method as an example. It shouldn't be necessary to update `response.Body.Data`,

[2015-09-25 23:34] abjerner commented on #39
I have now made a commit that adds support for fields:

https://github.com/abjerner/Skybrud.Social/commit/e002dea3628448e0a77e50316c80b3b1a46f7eea

There is now a `FacebookGetFeedOptions` class that replaces the old `FacebookFeedOptions` class. The old one is kept for legacy support, but doesn't support fields.

For now, you can only get new class by pulling down the repository, and then building

[2015-09-27 23:40] Krustocious commented on #39
Hi Anders,
Thank you for adding the feed support! I'm still not able to make a list of facebook posts from the feed of a page however. I was looking for the `response.Body.Data` so I could make a list with it (for pagination etc.), but a feed is more of an entire block of data than the individual posts. Would there be some way to convert a feed of a page into a list of posts?

[2015-09-30 04:57] Krustocious opened #41 "Facebook - some pages unable to be found"
Hello again,

I've found another issue that isn't related to my earlier one, so I figured I would make a separate thread. My issue is that I am not able to find/display data from certain pages. I thought this might be some sort of permission problem, but I am able to find them using the graph API (both 2.2 and 2.4). It might be something they have in common that makes them unable to be found using

[2015-09-30 20:54] abjerner commented on #41
Hi

What exactly happens when you try to fetch the posts from Facebook? I just tried fetching posts from the three pages, and it worked just fine - this is an example of my test code:

[code]

The result is the same whether I use the page ID or the alias. This is tested with both `v2.2` and `v2.4` and with Skybrud.Social 0.9.4.1.

[2015-09-30 21:13] abjerner commented on #41
A little follow up question: you wouldn't by any change be using an app access token?

The three pages that you're mentioning seems to require visitors to be logged in (eg. try visiting the pages in incognito mode). Since an app access token doesn't have a user context, and you therefore can't fetch posts (or information in general) for these pages. If you use a user access token instead, it would

[2015-09-30 21:16] abjerner commented on #39
If you just need to get the posts of a page, you should be able to use my example from before. From what I have experienced with the Graph API so far, I can't see why that wouldn't work.

If it however still doesn't work, I'm more likely to think this is an issue with the Graph API itself, but if you can post some more information about your code, I can have another look at it ;)

[2015-10-01 01:13] Krustocious commented on #41
Hi Anders,

I am currently using an app access token, and I think you're right - the pages won't let you view any data if you are not logged in. I have tried to swap over to a user access token, but I'm having some difficulty. I have a few questions about it:

What exactly should the `state` be? The documentation was a little unclear, it only says it is a string that "should be something that uniq

[2015-10-01 01:58] Krustocious commented on #39
Hi Anders,

I can get the posts of a page just fine, but I'm looking to get the feed posts (posts to the page from both the admin and other users) and add them to a **list**. I can get the feed as a block of data, but I'm not sure how to break it up into a list as I am able to do with the `FacebookGetPosts response`. I'm essentially looking to take the data from
`https://graph.facebook.com/(page)/

[2015-10-01 10:29] abjerner commented on #41
Hi again,

Normally you *should* use an app access token for something like this, but since the pages requires users to login, you have to use a user access token instead, which comes with some challenges.

The state can just be a random value - I normally just generate a new GUID, and then use that as the state. The purpose is that you generate a state, save it in the user session or similar, and

[2015-10-04 22:21] Krustocious commented on #41
Hi Anders,

Thanks for the help, I'll try and get it working with the user access token, but maybe I can get by with what I can get from the app access token.

[2015-10-06 08:03] JiaweiTan opened #42 "Facebook API"
Hi Abjerner,

For the past few days, I have been learning how to use your library for Twitter, Instagram and Facebook. I'm really glad that this library have helped me out by making the data retrieval so much easier on asp.net. So far, Twitter and Instagram have no problems, except for Facebook.

I used the reference from the Object-oriented communication codes as shown on the image and I entered

[2015-10-06 08:10] abjerner commented on #42
Hi,

I'm glad to hear that the library has helped you ;)

If you're using `v2.4` of the Facebook Graph API (which you're probably are, since it is the newest version), you need to explicitly which fields that should be returned by the Graph API. `v2.4` will only return the `id` and `name` fields/properties will be returned by default.

You can read more about that here: http://social.skybrud.dk/fa

[2015-10-06 08:35] JiaweiTan commented on #42
Yeah, indeed the problem is that I didn't explicitly specific the fields. Thanks for the speedy replied! :+1:

[2015-10-06 08:35] #42 closed

[2015-10-10 15:46] abjerner opened #43 "Add support for signed requests"
Instagram supports signed request (probably a bit similar to OAuth 1.0.a), but Skybrud.Social doesn't support this.

Support for this should be added to `v1.0`, or before if possible.

See more here: https://instagram.com/developer/secure-api-requests/#enforce-signed-requests

[2015-10-17 00:25] abjerner commented on #25
Fixed and will be part of the next release :D

[2015-10-17 00:25] #25 closed

[2015-10-17 00:30] abjerner opened #44 "Add support for video information of an extended media entity"
For an extended media that is a Twitter video, information about that video is provided in the JSON.

Here is an example of such an entity ([see tweet](https://twitter.com/EA/status/655135503906304000)):

[code]

[2015-10-17 15:52] abjerner commented on #44
Implemented and will be part of the next release ;)

[2015-10-17 15:52] #44 closed

[2015-10-17 16:32] abjerner commented on #39
Hi again,

I'm not exactly sure what you're trying to accomplish. Given the feed URL that you posted, a similar call with Skybrud.Social would look like (if you use the latest code from the repository):

[code]

[2015-10-17 16:32] #41 closed

[2015-10-20 09:30] bjarnef opened #45 "Dropbox support"
Hi Anders

I thought about if it would make sense to include support for Dropbox? https://www.dropbox.com/developers-v1/core/docs#oa2-authorize

Maybe also similar data storage services like box.net, drive.google.com, onedrive.com ... ?

[2015-10-20 09:43] abjerner commented on #45
Hi Bjarne,

I think that I already have some code for Dropbox somewhere, but can't remember why it isn't part of the package. I'll look into that ;)

Are you just looking for the authentication part, or also the mapping of the APIs as well? For Google Drive, you should be able to use the existing Google code for the authentication part. I haven't worked with Box.com before, but I'll that to the to

[2015-10-20 10:24] bjarnef commented on #45
I have seen different "dropbox" JavaScript/AngularJS filepickers, where you might want to use it - on frontend, in a restricted area or maybe in Umbraco backoffice? I thought about it could be cool if you could upload files in Umbraco media section by picking files from Dropbox (so the authentication part - but maybe some of the other APIs would be useful too. Btw. does Skybrud.Social include Flic

[2015-10-20 11:05] bjarnef commented on #45
An example file picker with Dropbox and Box.net :)
https://github.com/geojacobm6/angular-dropbox-box-picker

[2015-10-20 19:21] abjerner commented on #45
The services you're mentioning are all on my own "nice to have" list, so I'll look into them when I have the time.

Flickr isn't supported at the moment, but it is also something I have thought about adding. Our own CMS Skybrud.edit has support for Flickr, so there might be some code here that can be reused ;)

I haven't really looked into OneDrive yet, but I assume the Microsoft authentication sh

[2015-10-20 19:35] abjerner commented on #45
OneDrive has possible values for the scope, so I have now implemented them here: https://github.com/abjerner/Skybrud.Social/commit/9012bec4a3e567243e15675f211e7ed2ac1b26ab

If you clone the repository and build the Skybrud.Social.Microsoft project, you can now do something like:

[code]

[2015-10-20 20:14] bjarnef commented on #45
Okay cool :) .. it would be nice with these additional services, but it's not urgent though..
However I think OneDrive has become more popular the recent years since they offer more free storage as default compared to e.g. Dropbox.

I also thought about some file pickers for external data storage services in the cloud .. I have noticed  Dropbox Selector https://our.umbraco.org/projects/backoffice-

[2015-10-24 23:57] abjerner commented on #32
With https://github.com/abjerner/Skybrud.Social/commit/fe2b990259490b641a46c2d3fe0fbf32c66fa3f5 I have introduced a few new classes.

An instance of a dimension is represented by the `AnalyticsDimension` class. While the class also has constants (or static readonly fields really) for each dimension, these clutter of the class. Therefore https://github.com/abjerner/Skybrud.Social/commit/fe2b9902594

[2015-10-24 23:57] #32 closed

[2015-11-07 14:06] abjerner commented on #39
Hi Krustocious,

Did you find a solution to your problem? In my last example, `response.Body.Data` is simply an array holding instances of `FacebookFeedEntry`.

I'm not sure what you mean by a list, but you can simply call `response.Body.Data.ToList()` using LINQ to convert the array into a list, or add the array to an already existing list like:

[code]

[2015-11-07 16:31] abjerner commented on #29
I haven't really updated any of the code, but the LinkedIn implementation now has it's own repository, so you can follow the progress here:

https://github.com/abjerner/Skybrud.Social.LinkedIn

Eventually the LinkedIn project will also be released as it's own NuGet package, although I don't really have a time frame for this.

[2015-11-07 16:31] #29 closed

[2015-11-07 21:19] abjerner commented on #45
Still very limited, a project for the Dropbox implementation (mostly authentication and hardly any API mapping) is now available here: https://github.com/abjerner/Skybrud.Social.Dropbox

I'll close the issue here since Dropbox now lives in it's own repository ;)

In addition to Dropbox, you can now also find a repository for Box:

https://github.com/abjerner/Skybrud.Social.Box

Authentication with

[2015-11-07 21:19] #45 closed

[2015-11-10 05:31] Krustocious commented on #39
Hi Anders,

I've been working on some other things, sorry for the late reply. I had a shot with what you posted, but I'm just using plain c# without asp.net, and I can't seem to be able to detect the .Mvc section of the inherits line (although mine looked more like `class Facebook :` instead of `inherits`. Is there a way to inherit the FacebookService WebViewPage another way?

[2015-12-04 19:02] abjerner opened #46 "Class OAuthException should wrap an instance of SocialHttpResponse"
Since both parameters of the `OAuthException` class are derived from the response, we might as well just wrap an instance of `SocialHttpResponse`, where we can access the `StatusCode` and `Body` for the same values.

[2015-12-04 23:40] abjerner opened #47 "The DoHttpRequest methods in class OAuthClient should return instances of SocialHttpResponse"
Currently the `DoHttpRequest` methods in the `OAuthClient` class will return instances of `HttpWebResponse`. For `v1.0`, these methods should be updated to return instances of  `SocialHttpResponse` instead since this class features some extended functionality for easier use.

[2015-12-04 23:41] abjerner opened #48 "Drop the DoHttpRequestAsString methods in the OAuthClient"
The two `DoHttpRequestAsString` methods in the `OAuthClient` class should be dropped for `v1.0`.

[2015-12-11 08:30] glaidler commented on #24
Hi, according to the current Instagram API docs, all requests require an access_token.  Using this method passes a client_id for subsequent requests and throws an invalid access_token exception.  Is this method of authentication now deprecated by instagram?

[2015-12-11 08:50] abjerner commented on #24
Hi Graham,

To my knowledge it should still work, but I will look into whether Instagram has changed something that affects this.

However not all methods in the API support using a client ID. What API methods are you trying to call?

[2015-12-11 09:18] glaidler commented on #24
Hi - even the one to retrieve media from a known user requires an access_token:
https://www.instagram.com/developer/endpoints/users/#get_users_media_recent

[2015-12-11 09:22] abjerner commented on #24
Then it might be due to [this update](http://developers.instagram.com/post/133424514006/instagram-platform-update) although they don't write so explicitly.

[2015-12-11 16:29] abjerner commented on #24
Just to confirm. This is due to a change by Instagram. If you register a new app, you will automatically be limited by the new "rules", which among other things mean that you can't use a client ID.

I you have an old app - that is registered before the 17th of November, you will still follow the old rules, which means you can continue to use the client ID as before - at least until June 2016.

New

[2015-12-21 16:15] ma2c opened #49 "service.Tags.GetRecentMedia("tag_name") changed?"
Hi,

I coded a script to get recent media that contains a specific tag. It was working perfectly.

Unfortunately, some days ago I realized that the script is returning only recent media from the user account (the one that provided the access token).

Is there any change on Instagram API or Skybrud regarding to getting recent media? I search on Instagram Developers website and didn't find any news.

[2015-12-21 21:43] abjerner commented on #49
Hi Mac,

This is probably due to a recent change by Instagram, although I can't replicate your issue the way you describe it.

Instagram has recently updated their guidelines, which automatically affects new apps registered after the 17th of November. The new guidelines restricts access to content that is not your own - eg. users should now grant access to the `public_content` scope.

However if y

[2015-12-21 22:44] ma2c commented on #49
Hi!

Thanks for your support.

I realized that the problem is due to Sandbox. I removed my previous app and created a new app and now I have to apply to Sandbox's approval.

It still works as before but since I'm the only user in my new app's Sandbox service then Tags.GetRecentMedia only retrieves my media and not all user's. I confirmed this when I added another user to my Sandbox, then I get med

[2015-12-21 22:44] #49 closed

[2015-12-22 08:47] abjerner commented on #49
Thanks for the clarification :D

[2016-01-22 15:44] inovacode opened #50 "Facebook - How to get a list of friends"
Skybrud Social has been a great tool for my project.  However, it looks like it's missing support for the me/friends Facebook endpoint.  https://developers.facebook.com/docs/graph-api/reference/v2.5/user/friends

Is it there somewhere and I'm not seeing it?  If not, is there a way I can use Skybrud.Social to make that API call to return a dynamic object I can parse manually?

Thanks for your help!

[2016-01-22 16:25] abjerner commented on #50
Hi James,

The friends endpoint method is a bit limited in the way that in will only list friends that are also using the app used for making the calls. You won't be able to get a full list of your friends, and as a result of this, I haven't really focused on adding support for the endpoint method yet.

Anyways, you can still come a long way with some of the logic used internally in Skybrud.Social

[2016-01-23 16:23] inovacode commented on #50
Exactly what I needed.  Thanks!!

[2016-01-23 16:23] #50 closed

[2016-02-05 09:22] AndersBrohus commented on #34
Hi @abjerner :-)

This bug i still there.. :-(

[2016-02-05 09:26] abjerner commented on #34
@AndersBrohus If I remember correctly, it depends on the parameters/options you specify for the call to the API. But if you can provide an example of your code, I'll have a look at it when I have some time ;)

[2016-02-05 09:30] AndersBrohus commented on #34
I tried with this code :-)

[code]

The X's definded to the real strings and ids :P

[2016-02-05 16:17] abjerner commented on #34
@AndersBrohus Based on your code, I'm not exactly sure what you're trying to do? Are you trying to get the amount of likes/comments of each individual post?

If so, this is not directly supported at the moment. For a given post, `post.Likes.Count` will now always be `0` since Facebook doesn't specify the count this way anymore.

While not directly supported, you can still accomplish it by playing

[2016-02-08 07:28] AndersBrohus commented on #34
Hi again @abjerner :-)

The code i posted is the way i call the API, and in the response there is a "total count" of likes and comments that always says 0 :-)

[2016-02-08 07:54] abjerner commented on #34
@AndersBrohus Can you post an example of the part of your code that actually reads the total count? You may have to do it as in my example since Facebook changed the way they specify the total count.

[2016-02-08 08:04] AndersBrohus commented on #34
@abjerner I don't need the total count, i just returned the response that i got with the code from above :-)

[2016-02-08 08:33] abjerner commented on #34
@AndersBrohus Then I'm not sure what the issue is?

[2016-02-08 08:52] AndersBrohus commented on #34
The issue is, when you make a call like this

[code]

Then the response, has these two section for each post,

"Likes": {
          "Count": 0,
          "Data": [{
              "Id": "10153901520163088",
              "Name": "Patrick Østergård Jürgensen"
            },
            {
              "Id": "10153937673244549",
              "Name": "Kasper Hermann Due Stück"
            },]
},"Comm

[2016-02-08 11:46] abjerner commented on #34
@AndersBrohus Okay. Thanks for the heads up then ;)

The `count` property used to part of the JSON received from Facebook, which is why there is a corresponding `Count` property in Skybrud.Social. But since the property is now deprecated in the Facebook API, the property will be removed in v1.0 of Skybrud.Social as well (which instead will have support for reading the count the correct/new way).

[2016-02-08 14:33] AndersBrohus commented on #34
Heh, no problem @abjerner :-)

Sounds great! :-)

[2016-02-09 21:32] abjerner commented on #39
Sorry for not getting back to you sooner. The MVC inherits statement simply means that my view will inherit from the `System.Web.Mvc.WebViewPage` class, and have a model of the type `Skybrud.Social.Facebook.FacebookService`.

For the code to work, you really just need to have an instance of `Skybrud.Social.Facebook.FacebookService`. The MVC part is part of the example, but not really needed.

Sinc

[2016-02-09 21:32] #39 closed

[2016-04-23 14:52] #47 closed

[2016-04-23 14:52] #48 closed

[2016-04-23 14:53] #46 closed

[2016-05-05 22:10] inovacode opened #51 "Instagram Missing InstagramScope Enum options"
I need to add multiple scopes when getting the Instagram authorization url.  Two important ones I need are not in the list.  follower_list & public_content.  (See:  https://www.instagram.com/developer/authorization/)

I cloned your repo here and was going to make the changes and submit a pull request but I wasn't able to find where the enum InstagramScope is defined and used.  I also need to overl

[2016-05-05 22:18] inovacode commented on #51
Oh . . . found it.  You have each social network separated into a separate repo.  https://github.com/abjerner/Skybrud.Social.Instagram

Would you like me to make the changes and submit a pull request?  Or would you rather make the changes?

[2016-05-06 03:41] inovacode commented on #51
It looks like the latest Instagram code **does** support a scope collection GetAuthorizationUrl(string state, InstagramScopeCollection scope).  Maybe the nuget package is not up to date with GitHub and that's why I'm not getting that in my dll?

[2016-05-06 13:29] abjerner commented on #51
@inovacode It is a little complicated.

In the past, the package has been released as single package named `Skybrud.Social` containing both some core functionality as well as the implementation for each service. This has been the case all the way up to `v0.9.4.1` (which is the latest stable release).

Since `v0.9.4.1` was released, I've been working on improving the codebase. This will eventually

[2016-05-06 22:38] inovacode commented on #51
I follow exactly what you're saying.  I've been exploring your new repos in Beta and like what I see.  Getting an error when updating nuget packages and building the Core project.

NuGet Package restore failed for project Skybrud.Social: Unable to find version '1.0.0-alpha2' of package 'Skybrud.Social.Core'..

No worries though, I'm going to stick with the stable version for now but looking forwar

[2016-05-06 22:38] #51 closed

[2016-05-07 17:53] abjerner commented on #51
@inovacode I will check whether I've messed something up with the beta releases.

Anyways, I hand't thought about this yesterday, but the `GetAuthorizationUrl` method really just returns the authorization URL - it doesn't make any calls to the Instagram API. So you could just generate the authorization URL manually like this:

[code]

Then when you need to authenticate the user, simply redirect hi

[2016-05-09 14:42] inovacode commented on #51
Perfect.  Thanks for your help!

[2016-05-11 14:26] khraibani opened #52 "Getting 'Value was either too large or too small for an Int32' Instagram"
I have attached a screengrab of the error. any idea of how to fix it?

![instag](https://cloud.githubusercontent.com/assets/4085627/15184315/a62733fa-178c-11e6-9511-ee31289b78e5.JPG)

[2016-05-11 14:30] abjerner commented on #52
Yes, actually. The newest release (from earlier today) contains a fix for this ;)

https://github.com/abjerner/Skybrud.Social/releases/tag/v0.9.4.2

[2016-05-11 14:41] khraibani commented on #52
Brill! Thanks for the quick response. When would that be fixed for the umbraco package. "Skybrud.Social.Umbraco"

[2016-05-11 15:53] abjerner commented on #52
If you have installed `Skybrud.Social.Umbraco` via NuGet, you can simply update the `Skybrud.Social` dependency to the new version. Otherwise, replacing `Skybrud.Social.dll` in your bin folder with the new release should do it as well ;)

[2016-05-11 16:01] khraibani commented on #52
Brill thanks you for your help!

On Wed, May 11, 2016 at 4:53 PM, Anders Bjerner <notifications@github.com>
wrote:

[2016-05-11 16:15] #52 closed

[2016-05-12 20:51] deepa201 opened #53 "YouTube Videos"
Hi,

I am trying to get the latest 5 videos of youtube for the user. I have the serverkey, browser key, userid. I would like to have a sample code for authenticating the google service using your library. I have a service with the methods for facebook,twitter, instagram and youtube. i was able to do it successfully for the other three social media using your library.

Also how do i get the latest

[2016-05-13 07:31] abjerner commented on #53
@deepa201 A server key doesn't give a user context, so it won't know about your user. With your current code, you should use an access token (or refresh token) instead, which gives you a user context.

Alternatively you can request items of a given channel instead:

[code]

[2016-05-13 12:47] deepa201 commented on #53
I have the client id and client secret key, which method do i use for creating access token or refresh token.

Even if i give user channel info, how do i get the latest videos published?

[2016-05-13 19:40] deepa201 commented on #53
Got it working, Used the username in Get Channel methods and drilled down till i get playlistitems.

ThANKS

[2016-05-13 19:40] #53 closed

[2016-05-13 20:20] abjerner commented on #53
I haven't had time to answer before now, so good to see you found a solution :+1:

[2016-05-17 14:43] deepa201 opened #54 "source code zip file issue"
Hi,

I took the zip file, extracted all the files and included in my solution

Below is the error i am getting while building the project Skybrud.Social.Core
Also,If i want to include any of the services like facebook.. i have to include those projects in my solution and refer those dlls in my project right?

Error	9	The command ""C:\Workspace\Skybrud.Social.PreBuildTool.exe" 2012-07-30 "C:\Worksp

[2016-05-17 17:09] abjerner commented on #54
Have you by any chance moved some of the files around? I just tried downloading the ZIP, starting up the Visual Studio solution, and building worked fine.

In your case, the build events have tried to execute `C:\Workspace\Skybrud.Social.PreBuildTool.exe`, but based on the rest of the error message, it really should try to execute `C:\Workspace\ExternalModules\Skybrud.Social-master\src\Skybrud.Soc

[2016-05-19 13:57] mrflo opened #55 "The Instagram API no longer support making requests using just the client_id."
Hi Anders,

Thanks again for the useful tools you have shared!
I am experiancing issue with Instagram. They are not allowing a request with the client id:
"The Instagram API requires an access_token from authenticated users for each endpoint. We no longer support making requests using just the client_id."

So different methods are not working anymore including the one to get the feed.

Do you know

[2016-05-19 14:18] abjerner commented on #55
Hi Florent,

Yes, unfortunately Instagram has removed the support for using just a client ID. So now you'll need to obtain an access token. In order to obtain an access token, you'll need to setup an authentication page, which requires some extra work, but is a one-time thing. You can use my file for inspiration:

https://github.com/abjerner/Skybrud.Social.Umbraco/blob/master/src/Skybrud.Social.Um

[2016-05-19 14:31] mrflo commented on #55
Thanks for your quick answer.
Isn't a possibility to do it server side like suggested in this post ?
http://stackoverflow.com/questions/34299125/call-instagram-api-without-access-token

[2016-05-19 14:42] abjerner commented on #55
@mrflo If you see the first answer, he explains two methods for obtaining an access token.

The first method is called explicit authentication, which more or less is the same as shown in the file I referenced in my last comment. This will require you to log in with your own account, but keep in mind that you only have to do this once.

The second method is called implicit authentication. Last year

[2016-05-19 15:51] mrflo commented on #55
@abjerner Thanks, it wasn't clear for me if I still needed to input my login detials but now It's working except that I am using your Instagram endpoint to get the user feed but it's pointing to
[code]
And apparently it should point to "https://api.instagram.com/v1/users/self/" now:

https://www.instagram.com/developer/endpoints/users/#get_users_self

[2016-05-19 18:27] abjerner commented on #55
@mrflo I think I vaguely remember reading something about Instagram has dropped support for the feed endpoint as well.

The feed endpoint would return a list of media similar to when you go to https://www.instagram.com/ in your browser, whereas the https://api.instagram.com/v1/users/self/ endpoint will return information about the authenticated user. So I'm afraid there's not much I can do here :(

[2016-06-03 19:55] mschraeder opened #56 "Method not found: 'Int64 Skybrud.Social.SocialUtils.GetUnixTimeFromDateTime'"
I'm trying to implement the most recent version of the Core and Instagram and I get this message when I call the GetRecentMedia(userId)

----
Exception type: MissingMethodException
    Exception message: Method not found: 'Int64 Skybrud.Social.SocialUtils.GetUnixTimeFromDateTime(System.DateTime)'.
   at Skybrud.Social.Instagram.Options.Users.InstagramGetUserRecentMediaOptions.GetQueryString()
   a

[2016-06-03 19:57] mschraeder commented on #56
Here is the code I'm using via MVC / Razor (actual token and Id removed)

@{

		InstagramOAuthClient client = new InstagramOAuthClient {
		    AccessToken = "abc"
		};

		InstagramService service = InstagramService.CreateFromOAuthClient(client);
		InstagramGetRecentMediaResponse response = service.Users.GetRecentMedia(123);

}
<section>
	<div class="instagram-feed hidden-xs hidden-sm">
		<div clas

[2016-06-03 21:12] abjerner commented on #56
@mschraeder I'm not sure what version(s) you have installed, but from what you write, is it correct that you're using `Skybrud.Social.Core` and `Skybrud.Social.Instagram` instead of `Skybrud.Social`?

`Skybrud.Social` is still the latest stable release. The plan is to replace `Skybrud.Social` with `Skybrud.Social.Core` and individual packages like `Skybrud.Social.Instagram`, but that still require

[2016-06-03 21:16] mschraeder commented on #56
Understood, however I was forced to upgrade because Instagram was no longer working with the 0.9 installation. I had it running for over a year but on June 1 it stopped working so I thought he new version would fix that.

[2016-06-03 22:39] abjerner commented on #56
That is due to a change in Instagram's guidelines (and API service). They introduced new guidelines back in November, but existing apps would continue to work based on the old guidelines - until the 1st.

For instance, it is no longer possible to use a client id for accessing the API - you now _must_ obtain an access token. Access to a lot of the API endpoints/methods now also require prior approv

[2016-06-22 15:18] biapar opened #57 "Support to develop social modules"
Hi,

Is there a guide to setup Visual Studio solution to devel plugin like Instagram because there is a solution for each module. It's possible to create a big solution with sub projects?

[2016-06-22 17:40] abjerner commented on #57
@biapar Can you elaborate a bit on what you're trying to do? That would allow me to give a better answer ;)

If you're looking to implement code to support a service that is currently not supported by Skybrud.Social, you might just install the NuGet package for either `Skybrud.Social` or `Skybrud.Social.Core` in your project.

For reference, `Skybrud.Social` is the latest stable version, currently

[2016-06-22 18:31] biapar commented on #57
Hi,
I wish to use it to pull the media stream from Instagram, but the example are not exhaustive.

My question is: Which solution Do I use iif I want develop some function on this project? For example.
Do I need only the Instagram solution if I wish develop or extend it?

[2016-06-22 19:26] abjerner commented on #57
Hi again,

If you only want to work with stable code, you can pull down the [v0.9-branch](https://github.com/abjerner/Skybrud.Social/tree/v0.9.x). This will contain a Visual Studio solution named `Skybrud.Social`, which holds a project of the same name. The project has an `Instagram` folder with the implementation for the Instagram API. You can see it on GitHub here: https://github.com/abjerner/Sk

[2016-06-24 14:56] adaam2 commented on #57
@abjerner Is the v1.0 version of the `SkyBrud.Social.Twitter` package on NuGet?

(I can find the `SkyBrud.Social.Core` package if I check "Include Prerelease" but there is no mention of the Twitter package.)

[2016-06-24 20:42] abjerner commented on #57
@biapar I've missed your code example since it seems you edited your post after my last reply (I will receive notifications for new comments). The Umbraco package is build against the stable version of Skybrud.Social, so you should have a look at the [v0.9-branch](https://github.com/abjerner/Skybrud.Social/tree/v0.9.x) as I mentioned in my last reply.

You write that the code doesn't work. How doe

[2016-06-24 21:39] biapar commented on #57
Hi,
I've any error and any media.
I create keys in Instagram and putted into datatype and after I logged in Instagram from Umbraco backend.

[2016-06-28 19:00] abjerner commented on #57
@biapar I'm not sure I understood your last comment. Do you get any exceptions? What about media?

[2016-06-29 06:31] biapar commented on #57
Hi, with media, I mean the media stream of Instagram.
With datatype the Skybrud.Social Instagram datatype ( see image above ).
Bye.

[2016-06-29 21:16] abjerner commented on #57
@biapar Maybe we're just talking past each other, but I'm still not sure whether you get an exception or not.

Anyways, if you can give me some more information about your setup, I might be able to help. For instance, which Instagram user did you use for authentication in Umbraco? Is it `paestumexperience`? Does your Instagram app run in sandbox mode?

If you have authenticated with another user,

[2016-07-02 16:19] biapar commented on #57
Hi,
the app is in sandbox mode and the keys API are mine, but the stream is the media of other user.

[2016-07-02 17:08] abjerner commented on #57
@biapar Then that's the reason. As your app is running in sandbox mode, you won't be able to fetch information (or just search for) other users.

So for this to work, you need to deactivate sandbox mode, and authenticate with the `public_content` scope. This scope is currently not supported by my Umbraco package (it is by Skybrud.Social), and it also requires approval from Instagram. If your app i

[2016-07-03 10:42] biapar commented on #57
Thank you for your support. I'll try.
So, I cannot to uso Skybrud.Social with public_content. Is't right?

[2016-07-05 21:23] abjerner commented on #57
@biapar Yes and no. If we look at `Skybrud.Social` separately, it now does support the `public_content` scope in the newest stable release.

However if we look at `Skybrud.Social.Umbraco` (which is the Umbraco package/integration), it doesn't support specifying a scope at the moment. I will see whether I can do a new release of the Umbraco package tomorrow. I have already updated the UI to allow s

[2016-07-07 20:41] abjerner commented on #57
@biapar I needed to do some testing before releasing, which I first had time to do today. I have now pushed a new release of `Skybrud.Social.Umbraco`, which supports selection the scope for the OAuth authentication:

https://github.com/abjerner/Skybrud.Social.Umbraco/releases/tag/v1.0.4

You will however still need to deactivate sandbox mode in your Instagram app and get approval from Instagram to

[2016-08-23 08:23] abjerner commented on #54
@deepa201 I haven't heard back from you, so I'm closing this issue. Feel free to post another comment of you're still having issues ;)

[2016-08-23 08:23] #54 closed

[2016-08-23 08:24] #55 closed

[2016-08-23 08:25] #56 closed

[2016-08-23 08:25] #57 closed

[2016-10-12 00:36] peng-at-gruden opened #58 "Posts.GetPosts skipped the video share post?"
Hi,

First of all, thank you so much for providing such a convenient library for the multiple social feed.

I found an issue with using the Facebook API.

[code]

This facebook page (https://www.facebook.com/SydneyOlympicParkArcheryCentre/) has one shared video, however, it's not in the response. Do we skip the video in the result?

The version im using is 0.9.4.4
Thanks

[2016-10-12 19:08] abjerner commented on #58
@peng-at-gruden Thanks for the feedback.

Is it this video that you're missing?

https://www.facebook.com/SydneyOlympicParkArcheryCentre/posts/1136663456371760

I think this is more an issue with the API than with Skybrud.Social. Facebook has a tool called Graph Explorer, which is very useful for debugging their API. Your code example above would equal to this:

https://developers.facebook.com/too

[2016-10-12 23:01] peng-at-gruden commented on #58
@abjerner , Thanks for your reply.

One more issue, the Graph Explorer request you posted upon does return one shared video post (https://www.facebook.com/SydneyOlympicParkArcheryCentre/posts/1127472973957475), however it's not in the response of the .GetPosts() API.

im wondering the "shared post  with video" might not return from the Graph API, however, the "shared video" does. But it's not retu

[2016-10-13 17:28] abjerner commented on #58
@peng-at-gruden I can't see the post that you're linking to. Perhaps it's not public?

What kind of access token do you use with Skybrud.Social? There are three kinds: app, user and page.

By default, the Graph Explorer will generate a user access token for you bound to your Facebook user. A post may be restricted to certain users, groups or simply registered Facebook users in general (meaning you

[2016-10-13 22:48] peng-at-gruden commented on #58
@abjerner , Thanks a lot for your explanation.

I was using an app token. So, it's just a content viewing permission issue, not something wrong with the library. :)

Thanks again for your time.

[2016-10-13 22:48] #58 closed

[2016-11-09 14:08] AndersBrohus opened #59 "Value was either too large or too small for an Int32. - Instagram issue"
Hi @abjerner :-)

Recently i have gotten this error,

Value was either too large or too small for an Int32.

This is the following function i use to contact Instagram,

[code]

I can't see what's wrong, it uses 0.9.4.3 version of Skybrud.Social :-)

[2016-11-09 14:23] abjerner commented on #59
Hi Anders and thanks for reporting,

I will have a look at this ;)

Something similar has been wrong in the past for locations ([see release notes for 0.9.4.2](https://github.com/abjerner/Skybrud.Social/releases/tag/v0.9.4.2)), so I probably need to change some other properties from `Int32` to `Int64` as well.

Anyways, do you by any chance have a stack trace that for the exception?

[2016-11-09 14:47] AndersBrohus commented on #59
![anders](https://cloud.githubusercontent.com/assets/9005889/20142101/b0db916a-a693-11e6-9bb5-0623e719617f.JPG)

I just took a screenshot of the whole screen.. :-)

[2016-11-09 15:05] abjerner commented on #59
@AndersBrohus This actually happens for a location, so can you confirm again that you are in fact using `v0.9.4.3` (just asking to be sure)? You can also try to upgrade the newest version AKA `v0.9.4.5`.

[2016-11-09 16:49] abjerner commented on #59
Could you try add this line of code just before the line of code that fails (before line 67 based on the screenshot):

[code]

It will throw an exception with the version of Skybrud.Social. The reason that I'm asking about the version again is that based on the stack trace, the `JsonObject.GetInt32` method mentioned in the stack trace is called from the `InstagramLocation.Parse` method, but lookin

[2016-11-09 20:03] AndersBrohus commented on #59
We'll try tomorrow @abjerner :)

[2016-11-10 07:01] Vassard commented on #59
When we use the

`throw new Exception(Skybrud.Social.SocialUtils.GetVersion() + "\n" + Skybrud.Social.SocialUtils.GetFileVersion());`

We'll get 0.9.4.1 but it doesn't make any sense, since we just removed Skybrud.Social and Skybrud.Social for Umbraco 7 via NuGet..

Hmmm...

@abjerner

[2016-11-10 07:21] AndersBrohus commented on #59
Okay @abjerner we have found a fix! :)

The project keeped referering to 0.9.4.1, even through that 0.9.4.5 was in the bin folder which was installed via NuGet..

So we removed it all via NuGet and downloaded the dll's from Github and then added that to project, and now it works! :)

So we'll just close it now .. :)

[2016-11-10 07:21] #59 closed

[2016-12-14 17:21] mistyn8 opened #60 "How to show original if the tweet was a retweet"
Hello,
I can't seem to see any support for the retweeted_status tag that comes though from the raw json from twitter. So instead of showing the original tweeted and being able to add a retweeted by @user it just displays as if it was an original tweet. As this is contrary to twitter usage I'm a little stumped.. could you offer any guidance.

The additional issue with not being able to access the o

[2016-12-14 19:07] abjerner commented on #60
@mistyn8 The retweeted status is currently not supported (I can't remember that I have seen it before), but I will make sure to add support for it ;)

While the property is not directly supported yet, you can still get it from the underlying JSON. The code for this would look something like:

[code]

[2016-12-15 20:29] cbrown1334 opened #61 "The request was aborted: Could not create SSL/TLS secure channel"
Anders:

Occasionally, the calls to "GetUserTimeline" (Twitter), "GetPosts" (Facebook), or "GetRecentMedia" (Instagram) will fail with "The request was aborted: Could not create SSL/TLS secure channel".  It seems kind-of random, but thought I'd check and see if you've seen this before.  Works fine most of the time.

I have seen this error before when calling into the UPS webservice or Stamps.com.

[2016-12-16 16:19] abjerner commented on #61
I haven't really experienced any issues yet in multi threaded environments - but it's not something I have tested against specifically. I also haven't seen that exception in Skybrud.Social before.

After Googling a bit, the primary cause of the `The request was aborted: Could not create SSL/TLS secure channel` exception seems to be when there's something wrong with the certificate on the server. B

[2016-12-21 13:32] leekelleher opened #62 "How to use `AnalyticsDimension.DimensionXX`?"
With the Google Analytics Data API, are we able to query for custom dimensions?
I'm not sure how the `AnalyticsDimension.DimensionXX` property should work.

Is it possible to create custom `AnalyticsDimension` objects for them,
e.g. `new AnalyticsDimension("ga:dimension1")`?

(I tried looking at the source-code, but it appears the constructor is marked as private.)

Thanks, Lee.

[2016-12-21 13:40] abjerner commented on #62
@leekelleher As far as I remember, there is some operator overloading that let's you write something like `AnalyticsDimension dimension = "ga:dimension1";`.

If that doesn't work, please write back, and I'll have a look at it when I get home ;)

[2016-12-21 13:46] leekelleher commented on #62
Thanks @abjerner - I got quite excited then 😃

Unfortunately it threw an error...

    System.Exception: Invalid dimension 'ga:dimension1'

_sorry to say_ 😢

[2016-12-21 13:50] leekelleher commented on #62
Digging through the source, it looks like it falls over at the `TryParse` when looking up the `Values`.

[2016-12-21 14:03] abjerner commented on #62
From `v1`, each service will be separated into it's own package. I can see that I in *Skybrud.Social.Google` (which is still in beta) have made the constructor public:

https://github.com/abjerner/Skybrud.Social.Google/blob/master/src/Skybrud.Social.Google/Analytics/Dimensions/AnalyticsDimension.cs#L56

It will look into bringing some of that back to `v0.9.x` ;)

[2016-12-21 15:17] leekelleher commented on #62
@abjerner I'm happy to send over a PR for this, if that helps?

[2016-12-21 16:38] abjerner commented on #62
@leekelleher A pull request never hurts ;) But in this case, it took longer to push the actual release than to change the visibility of the constructors:

https://github.com/abjerner/Skybrud.Social/releases/tag/v0.9.4.7

[2016-12-21 17:01] leekelleher commented on #62
Thanks @abjerner! #h5yr

I've gotta say, I've used this library in the past but never fully realised how fully featured it was... you've done an amazing job! 😎

[2016-12-21 17:03] #62 closed

[2017-01-01 23:48] abjerner commented on #60
This is now part of [v0.9.4.8](https://github.com/abjerner/Skybrud.Social/releases/tag/v0.9.4.8)

You can now use the `RetweetedStatus` property ;)

[2017-01-01 23:48] #60 closed

[2017-01-08 14:56] #61 closed

[2017-01-15 00:15] mcskelle opened #63 "Is twitter replies not working?"

[2017-01-15 06:46] #63 closed

[2017-01-15 06:46] mcskelle commented on #63
It is. My bad

[2017-01-16 14:33] npsniloo opened #64 "How to get users friend list?"
How to get users friend list in facebook skybrud.social?

[2017-01-16 16:11] abjerner commented on #64
@npsniloo Skybrud.Social doesn't support this.

The Facebook Graph API has a `/me/friends` endpoint method, but this will only return the friends that are using the same app as used for calling the API. Since this limits the use of the method, I haven't focused on adding support for it in Skybrud.Social.

[2017-01-19 16:10] biapar opened #65 "Is possible to use this lib as OAuth2 authentication for members?"
Is possible to use this lib as OAuth2 authentication for members?

[2017-01-19 16:25] abjerner commented on #65
What kind of members are we talking about?

[2017-01-19 16:33] EmilMoe commented on #65
Community members..?

[2017-01-19 18:24] biapar commented on #65
No. Umbraco member ( sorry ).

[2017-01-19 18:45] biapar commented on #65
I wish to authenticate mobile user ( member in Umbraco ) with their social login.

[2017-01-19 21:52] abjerner commented on #65
You still haven't provided that much information about your use case, but yes, it is possible to use this library for authentication for Umbraco members. However since this library doesn't target Umbraco directly, you'll have to implement some the authentication and membership logic your self.

It's also worth mentioning that this library doesn't just support _any_ OAuth 2.0 service, but only the

[2017-01-20 06:40] biapar commented on #65
Hi, Thank you. Uhm, I think to authenticate a mobile user with its social login ( Google and so ), I've to create and save a token for the member and send to mobile application ( JWT ) and the Google token must be saved into a member "field" so we can check if the user was authorized or not .

Then Umbraco must be generate a JWT token used into the WebApi calls ( https://github.com/warrenbuckley/U

[2017-01-20 10:54] abjerner commented on #65
@biapar Something like that isn't supported by this library.

[2017-01-20 11:34] biapar commented on #65
Uhm...
Could help this http://24days.in/umbraco-cms/2015/umbraco-rest-api/?

[2017-01-20 15:05] abjerner commented on #65
I don't really know - I haven't tried that.

[2017-02-01 21:22] bjarnef commented on #34
@abjerner I can get likes and comments count using the following:

[code]

How do I handle it for shares count, since it a bit different.

[code]

[2017-02-01 21:42] abjerner commented on #34
@bjarnef There is also a `shares` field that you can request.

If you're using `Skybrud.Social`, your example above could be updated to:

[code]

If you're using `Skybrud.Social.Core` and `Skybrud.Social.Facebook`, your code could look like this:

[code]

[2017-02-01 21:53] bjarnef commented on #34
@abjerner okay, I tried some different approaches in `Skybrud.Social` and also added the `shares` field.

I was missing this part to be correct:

[code]

[2017-02-06 09:23] bjarnef opened #66 "Support multiple tags for GetRecentMedia"
At the moment you can get recent media from Instagram with a specific tag using:

[code]

However it doesn't allow you to specify multiple tags, e.g.
[code]

It would be great if the method has an overload, where first parameter is a string array.
[code]

For now I can get recent media from multiple tags this way, but is not ideal for e.g. 20 tags.

[code]

[2017-02-06 16:42] abjerner commented on #66
As mentioned in our talk today on Twitter, each method is thought to represent a corresponding method/endpoint in the underlying API. So a method therefore also represents a single request to said API.

The Instagram API doesn't support a single request for multiple hashtags, so like your last code snippet, I would also have to make separate requests to the API for each hashtag. So rather than imp

[2017-02-06 16:42] #66 closed

[2017-02-06 16:57] bjarnef commented on #66
@abjerner yes, I submitted the issue before our talk and didn't thought about Instagram only support getting media from a single tag via the API :)

I don't need it right now, but thought it might be useful in some cases, e.g. `#codegarden` and `#cg16`. I have seen other asking for this around the web, so maybe Instagram will add it sometime in the future :ok_hand:

[2017-03-08 21:58] #65 closed

[2017-03-08 22:01] #64 closed

[2017-03-17 14:12] assassin316 opened #67 "What is the target for this library?"
Can someone tell me the target platform for this library? I tried adding the nuget package to a PCL, a UWP class library, a .Net Core library, and a Xamarin PCL, but none work.

[2017-03-17 15:08] abjerner commented on #67
Skybrud.Social targets the full .NET framework. The `Skybrud.Social` NuGet package targets `v4.0`, while the `Skybrud.Social.Core` NuGet package targets `v4.5`.

I don't really have any experience with targeting portable platforms - or .NET core for that matter - so these platforms are not supported.

[2017-03-28 11:13] azzimuth opened #68 "FacebookOAuthClient.GetAccessTokenFromAuthCode returns null"
My Facebook integration stopped working and once I debug I see that the `FacebookOAuthClient.GetAccessTokenFromAuthCode` stopped returning valid access token and returns instead `null`. Are there any breaking changes in Facebook's API which could cause this? As I said, this was working flawlessly until now.

[2017-03-28 12:06] #68 closed

[2017-03-28 12:07] azzimuth commented on #68
Posted an issue in Facebook repository.

[2017-03-28 13:11] abjerner opened #69 "#H5IS"
https://github.com/abjerner/Skybrud.Social/blob/v0.9.x/src/Skybrud.Social/Facebook/Objects/Videos/FacebookVideo.cs#L94

[2017-03-28 17:39] abjerner commented on #69
Fixed in [v0.9.5](https://github.com/abjerner/Skybrud.Social/releases/tag/v0.9.5).

[2017-03-28 17:39] #69 closed

[2017-03-30 22:47] ZacP commented on #68
@azzimuth Did you find anything on this?  We've encountered the same issue

[2017-03-30 23:01] ZacP commented on #68
Note: resolved here: https://github.com/abjerner/Skybrud.Social.Facebook/issues/18

[2017-03-31 07:04] abjerner commented on #68
@ZacP Seems you already have found the answer. Anyways, the Facebook authentication issue was fixed in this release: https://github.com/abjerner/Skybrud.Social/releases/tag/v0.9.5

[2017-03-31 08:34] #67 closed

[2017-04-20 01:42] famous1234 opened #70 "Posting images to Instagram"
I have authorized the user and got the access token and I'm stuck. I cant any reference regarding posting images and status to instagram. The Instasharp package doesnot work in asp.net core. So AnyBody Out There to help me???

[2017-04-20 06:37] abjerner commented on #70
The Instagram API - as far as I know - doesn't support uploading images. This must be done through the Instagram app on your phone.

Skybrud.Social is build against the full .NET framework, and as such doesn't support ASP.NET Core either.

[2017-04-26 08:14] #70 closed

[2017-05-03 07:18] abjerner opened #71 "The indexer in "SocialHttpQueryString" should support a setter"
https://github.com/abjerner/Skybrud.Social/blob/master/src/Skybrud.Social.Core/Http/SocialHttpQueryString.cs#L63

[2017-05-08 11:52] Brighty28 commented on #39
Can you advise how I get story attachments for example:
![capture](https://cloud.githubusercontent.com/assets/6204366/25803032/0659b8b0-33ed-11e7-8362-37255809e696.PNG)

These are the fields I have so far
[code]

[2017-05-08 12:01] Brighty28 opened #72 "FacebookPostOptions not mapping story field"
Can you advise how I get story attachments for example:
![capture](https://cloud.githubusercontent.com/assets/6204366/25803032/0659b8b0-33ed-11e7-8362-37255809e696.PNG)

These are the fields I have so far
[code]

And the code:
[code]

[2017-05-08 16:46] abjerner commented on #72
@Brighty28 I can see that the API exposes an `attachment` property in the JSON for some of the posts, but Facebook haven't documented this property in their own documentation (at least what I can see), so Skybrud.Social doesn't support it either.

Nevertheless, I will look into wether it makes sence to add support for the property anyways ;)

[2017-05-10 09:10] Brighty28 commented on #72
@abjerner thank you for coming back to me I was looking at Graph API Explorer: [](https://developers.facebook.com/tools/explorer/)

With the below fields if that helps also interrested in being able to access the height and width attributes for media if possible:

FitCubs/posts?fields=child_attachments,name,picture,story,created_time,message,attachments,source

[2017-07-19 14:38] joshua-stewart opened #73 "Facebook not returning anything other than id and message for posts"
Just noticed that when using Skybrud.Social 0.9.6 all of the posts returned from Facebook have null for almost everything except date fields and the post id and message. Is anyone else seeing this?

[2017-07-19 15:47] abjerner commented on #73
@joshua-stewart Facebook only returns a few fields by default, which is why most properties are either null or empty. You can specify which fields should be returned by the API - this is explained a bit more here:

http://social.skybrud.dk/facebook/fields/

Hope that helps ;)

[2017-07-19 15:50] joshua-stewart commented on #73
We didn't change anything though. It had been working without any issues until just recently (I noticed today) but when we deployed the update to 0.9.6 at the end of May everything worked.

[2017-07-19 16:01] joshua-stewart commented on #73
We are using `FacebookPostsCollection response = facebook_service.Posts.GetPosts(facebook_account, 20).Body;`
How would I pass options with this call?

[2017-07-19 16:06] abjerner commented on #73
@joshua-stewart When you register a new Facebook app, it is automatically configured to use the latest version at that time. You can explicitly choose to use a newer version, but not an older version.

My bet is that your app was created a while a go, and as such was configured to use `v2.3` or an older version of the Facebook Graph API, which would return more fields by default.

However Facebook

[2017-07-19 16:29] abjerner commented on #73
@joshua-stewart Instead of just specifying the identifier as the first parameter, you can instead specify an instance of `FacebookGetPostsOptions`, which gives you a few extra options - eg. the `Fields` property. With this class, your code could be updated to look something like:

[code]

[2017-07-19 16:33] joshua-stewart commented on #73
Fantastic! Thank you so much. That fixed it. Have a great day!

[2017-07-19 16:46] abjerner commented on #73
Glad I could help ;)

Anyways, it might not be super clear how this impacts your app as well as Skybrud.Social, but Facebook actually tries to warn about forthcoming changes. Eg. for my test app, I have received the following alerts:

![image](https://user-images.githubusercontent.com/3634580/28378901-23db53b4-6cb2-11e7-957d-ada321a73aa7.png)

As far as I remember, you should also receive notifica

[2017-07-19 16:46] #73 closed

[2017-08-23 20:47] abjerner commented on #43
Closing this issue as I won't be adding support for signed requests in the Skybrud.Social legacy package.

[2017-08-23 20:47] #43 closed

[2017-09-14 17:48] jrnsr8500 opened #74 "MicrosoftAccessToken excedes maximum length."
I get the following message in the log when trying to authenticate with Microsoft:

Validation failed for one or more entities. See 'EntityValidationErrors' property for more details. The validation errors are: The field MicrosoftAccessToken must be a string or array type with a maximum length of '450'.
--

I understand this functionality is still experimental, but there is little to no documentat

[2017-09-14 21:57] abjerner commented on #74
@jrnsr8500 I haven't really worked on the Microsoft package for a while, but I'll try to check whether something has changed in the API ;)

[2017-09-14 23:08] Dee4GitHub opened #75 "Using Skybrud Social Posting to Facebook using Facebook user id and access token"
Hi,

I have required permission to post on user's Facebook Timeline.  I am not clear how to use Skybrud social to post to user's timeline.  Is there an example to do this via Skybrud social.

I am using 7.6.1 version of umbraco and have the latest Skybrud social installed from August 26, 2017.

There is a class called SocialPostData, I am not clear how to use it as it has different methods which a

[2017-09-24 20:14] abjerner commented on #74
@jrnsr8500 What does your code look like?

The Microsoft package actually has it's own repository, where the readme has information about setting up an authentication page:

https://github.com/abjerner/Skybrud.Social.Microsoft

I just tried setting up a new MVC project, install the `Skybrud.Social.Microsoft` via NuGet, and then setup an MVC action/view with the code from the readme file, and every

[2017-09-25 21:24] abjerner commented on #75
@Dee4GitHub Skybrud.Social is primarily made for reading from the various APIs, so posting content back to the APIs is pretty much not supported not supported at the moment.

Right now you have probably installed `Skybrud.Social` and possibly also `Skybrud.Social.Umbraco`. For the Facebook part, `Skybrud.Social` will soon be replaced by `Skybrud.Social.Facebook`, which then lets you do something l

[2017-09-25 21:43] Dee4GitHub commented on #75
Hi,

Thanks for replying to my post.

First of all, to clarify your thoughts, I am using Skybrud.Social.Umbraco. Yet, I am unable to post videos or images along with the story or post. In your sample, I want to publish a full blown post with message, link, video and or image into facebook using Skbrud.Social.Umbraco.  Your example only shows very simple scenario of text and link in the post.  How

[2017-09-26 15:42] abjerner commented on #75
@Dee4GitHub What you're looking for is not possible with `Skybrud.Social` and `Skybrud.Social.Umbraco` at the moment, as posting to the Facebook Graph API has been outside the scope of the package. You might still be able to use some of the underlying logic to do it anyways, but I don't have any examples for that.

In `Skybrud.Social.Facebook` (which again is still in beta), I've tried adding supp

[2017-10-02 20:00] blachawk opened #76 "How to get page shares vis Skybrud"
I am currently on Umbraco 7.6.6.

Is it possible either through Skybrud.Social.Facebook or Skybrud.Social to have a Facebook share button for my Umbraco pages?  If this is possible, is there a guide online that explains how?  Can anyone provide a razor or c# demo implementation?

Thanks

[2017-10-03 09:10] FDBenevides commented on #76
Hi @blachawk ,

I hope I'm not saying something stupid but the purpose of this framework is to deal with all the technical parts of the - in this case - Facebook API in a **server-side** perspective.

What you're asking for is something that should be used in **client-side**. In that case, you can use something like this in a razor view:

`@{
string fullUrl = Umbraco.NiceUrlWithDomain(CurrentPage.

[2017-10-03 11:28] blachawk commented on #76
No not stupid at all! Thank you for clarifying the purpose and reminding that page sharing can easily be done from the client side.  I used something similar 3 years ago but totally forgot.  Thanks!!!

[2017-10-03 15:33] abjerner commented on #76
Awesome that you found a solution 👍

Including a bit of JavaScript like @FDBenevides suggested lets you easily add a share button. But you should be aware of the downsides of doing so.

By inserting the SDK script as suggested, Facebook will be able to track your visitors across your site. For sites that are concerned about the privacy of their visitors (eg. government sites), a script like this i

[2017-10-03 15:40] abjerner commented on #76
Hmm - sorry. I thought about something else - it is currently not possible to get the amount of shares for an URL via Skybrud.Social :disappointed:

[2017-10-03 15:47] abjerner commented on #76
It seems that you can make a request to the Facebook Graph API like this:

https://graph.facebook.com/?id=http://www.google.com

With the link above, you'll get a JSON object like this:

[code]

[2017-10-03 16:22] blachawk commented on #76
Thanks a  million for digging into this.  I'll play around with this and get back to you guys.

Thanks!

[2017-10-23 07:23] rahulbachina opened #77 "Facebook Page Cover Image batch request"
Hi,
First of all then you very much for this Great Library
I have a CSV with Facebook Page Ids and Now I want to Grab the Cover Image for the Pages using page Id

I can able to do that but for 1 by 1 Page id using the Below code
// Initialize the service from the access token
            FacebookService service = FacebookService.CreateFromAccessToken(accessToken);
            FacebookGetPageOption

[2017-10-23 11:55] abjerner commented on #77
Hi Rahul,

This package doesn't support batch requests.

I actually didn't know Facebook supported batch requests, so this is not supported in my package. It probably should be supported at some point - but for now it isn't.

[2017-11-15 20:18] realtaken opened #78 "Get Twitter Image From Post"
Hey,

Are you able to point me in the right place in getting a photo of a tweet? I see the text property in the Body object but this only includes a link of the image, I need a .jpg so I can display this on my website.

Also Facebook the Picture property only renders to around 100px wide, is this the best thing available at the moment?

Instagram was easy, I have done that :) thank you.

Tom

[2017-11-15 22:05] realtaken commented on #78
Hi,

The Media tag is empty which I think is where the image url should be. Is this a bug? Twitter fixed this bug in January 2015.

Tom

[2017-11-15 22:33] abjerner commented on #78
@realtaken Things like links, hashtags, users and media in a tweet are exposed through the `Entities` property. As such you can get the first media (if any) through the `tweet.Entities.Media` property:

[code]

Even though `tweet.Entities.Media` is an array, it only exposes the first media in the tweet.

Some tweets have more than one image/media. To get all media from the scenarios, the API also

[2017-11-15 22:39] realtaken commented on #78
Just turned off my laptop. Thank you so much. That has answered so many of my questions. Look forward to nailing it tomorrow evening :)

Kind Regards
Thomas McDonough

[2017-11-18 09:34] realtaken commented on #78
![twitternomedia](https://user-images.githubusercontent.com/25364614/32978927-85861ae0-cc43-11e7-9e98-c01f62a9c5a9.JPG)

I have done as you said with Twitter and can you see there is no media url but you can clearly see the tweet url and there is a picture on the tweet.

[2017-11-18 09:55] realtaken commented on #78
Facebook code worked :) Thank you

[2017-11-23 22:37] abjerner commented on #78
@realtaken The Twitter API can be a little weird. The media might now be included in `entities` if it mentioned beyond the first 140 characters of a tweet.

In order to get all media (or entities) of a tweet, the Twitter API allows you to specify a tweet mode for your requests. Default is `compatibility`, but can specify `extended` instead.

As this is a newer feature in the Twitter API (and not t

[2018-01-07 22:08] pghdeveloper opened #79 "skybrud social is not compatible with netcoreapp1.1"
Will it be compatible with .netcoreapp in the future?

[2018-01-07 22:36] abjerner commented on #79
@pghdeveloper I don't use .NET core myself, so this is currently not a priority.  I do however hope to add support for .NET core at some point, but can't really say when this will be.

[2018-01-29 20:27] abjerner commented on #79
@pghdeveloper I've figured out an easy way to support multiple target frameworks within the same Visual Studio project, and also researched a bit on .NET Core and .NET Standard.

As a result of this, a number of the individual Skybrud.Social packages now support .NET Standard 1.3 (and thereby also .NET Core). You can see a list of the packages here:

https://github.com/abjerner/Skybrud.Social/blob

[2018-01-29 20:53] #78 closed

[2018-01-29 20:54] #76 closed

[2018-01-30 22:25] pghdeveloper commented on #79
@abjerner, thank you for looking into this.  I will look at this and give you feedback.

[2018-02-05 23:23] #71 closed

[2018-03-27 21:02] rosannafong opened #80 "Deprecation of Instagram API to make way for the Graph API"
Hi,

I read that the Instagram API will be deprecated from July 2018, to make way for the new Instagram Graph API. Could you please let me know on the following?
- How will this framework be affected?
- Will this framework continue to work after this date?
- Will there be plans to update this framework to use the new Graph API features?

Looking forward to hearing back. Thanks in advanced.

[2018-03-28 12:42] abjerner commented on #80
Hi Rosanna,

From what I can tell, the new Graph API will only have a subset of features available in the Platform API today. Unfortunately I can't do much about that part :(

Anyways, if we look at this package specifically (`Skybrud.Social` that is), it will not be updated to work with the new Graph API. I've stopped active development of this package, and I will only update the code base for th

[2018-04-19 13:17] Muttzzi opened #81 "Facebook Images"
Hello everyone, first of all im kinda new to api world, so thats why this question might sound stupid or newby, Im trying to display facebook posts on my website, like message, time etc... but i cant display images, not sure if skybrud dosent support this feature yet, anyway my code looks like this

var appId = ConfigurationManager.AppSettings["FacebookKey"];
            var fbKeyAcc = Configurati

[2018-04-20 09:48] FDBenevides commented on #81
Hi @Muttzzi,

1. which version of this framework are you using?
"As of v1.0, this repository and the corresponding package (Skybrud.Social.Core) will just contain the core functionality, and not the implementation for the individual services. Each supported service will now have it's own repository and package. You can find a list of supported services further down this page."

2. no matter what v

[2018-04-28 17:52] abjerner commented on #34
From what I can tell, the issues reported in this thread has been part of [**Skybrud.Social.Facebook**](https://github.com/abjerner/Skybrud.Social.Facebook) for some time now, so I'm closing this old issue. Thanks all for reporting ;)

[2018-04-28 17:52] #34 closed

[2018-04-28 17:57] #74 closed

[2018-04-28 18:00] #79 closed

[2018-04-28 23:09] abjerner commented on #81
@Muttzzi did you find a solution for your issue? Both packages do support the `Picture` property (equivalent to the `picture` property in the JSON), so you should be able to get that.

Hopefully I can push a new release of `Skybrud.Social.Facebook` tomorrow, which will also support the `full_picture` JSON property ;)

[2018-04-29 20:39] abjerner commented on #81
@Muttzzi New release is here https://github.com/abjerner/Skybrud.Social.Facebook/releases/tag/v1.0.0-beta5 ;)

[2018-04-29 20:52] abjerner commented on #72
Sorry for the waiting time. Facebook still has no documentation for getting attachments as part of the post object, but I've tried building something based on API responses and the documentation for the [attachments edge](https://developers.facebook.com/docs/graph-api/reference/v2.12/attachment). This is now part of [Skybrud.Social.Facebook](https://github.com/abjerner/Skybrud.Social.Facebook/rele

[2019-03-27 22:13] biapar opened #83 "Do it work in Xamarin Forms .NET Standard 2.0?"
Do it work in Xamarin Forms .NET Standard 2.0?

[2019-03-28 08:03] biapar opened #84 "Wich Facebook / Twitter / Instagram API version is supported by this package?"
Wich Facebook / Twitter / Instagram API version is supported by this package?

[2019-03-28 09:10] abjerner commented on #83
I don't really know for sure. I haven't used Xamarin before, so I wouldn't know how to test against Xamarin specifically.

If we're talking NuGet packages, **Skybrud.Social** is build against the "old" .NET Framework, so I'm almost certain that it won't work in Xamarin.

But the individual packages like [**Skybrud.Social.Facebook**](https://github.com/abjerner/Skybrud.Social.Facebook), [**Skybrud.

[2019-03-28 09:12] biapar commented on #84
Is't possible to edit the documentation on https://social.skybrud.dk?
I think that there are some issues and it's not updated.

[2019-03-28 09:21] abjerner commented on #84
Unfortunately they are not stored in a format that allows editing/contributions. It probably should though, but that would require quite some work.

If you see examples that you think are wrong or not up to date, you're more than welcome to report it here on GitHub, and I'll look into it. That's the best I can do a the moment.

[2019-03-28 09:26] biapar commented on #83
I'll try but Skybrud.Social is a prerequisite for Skybrud.Social.Facebook. Right? If yes...maybe a problem.

[2019-03-28 09:32] abjerner commented on #83
In terms of NuGet packages, `Skybrud.Social.Facebook` depends on `Skybrud.Social.Core`, but not `Skybrud.Social`.

I know it can a bit confusing with the dependencies. I started `Skybrud.Social` back in 2012, and thought it would be best to have all the code in the same package/DLL. Over time I've released that perhaps wasn't the best approach, which is why here now is a separate package for each

[2019-04-02 13:48] biapar commented on #58
How to retrieve the token access page?

[2019-04-02 14:04] abjerner commented on #58
@biapar https://social.skybrud.dk/facebook/endpoints/accounts/getting-the-accounts-of-a-user/ or just https://developers.facebook.com/tools/explorer/?method=GET&path=me%2Faccounts&version=v3.2 😉

[2019-04-02 14:27] biapar opened #85 "Where is the call to get Pages Access Token?"
Where is the call to get Pages Access Token? I've passed the temp token as string to FacebookService.CreateFromAccessToken

[2019-04-02 14:48] biapar opened #86 "How to retrieve a limit number of posts ?"
How to retrieve a limit number of posts ?

[2019-04-04 17:12] biapar commented on #58
I wish by Skybrud library. The token retrieved by Facebook api explorer has time limit and I need a method to refresh it.

[2019-04-04 20:05] abjerner commented on #72
Closing due to inactivity.

[2019-04-04 20:05] #72 closed

[2019-04-04 20:07] abjerner commented on #75
Closing due to inactivity.

[2019-04-04 20:07] #75 closed

[2019-04-04 20:08] abjerner commented on #77
Closing due to inactivity.

[2019-04-04 20:08] #77 closed

[2019-04-04 20:09] #80 closed

[2019-04-04 20:09] #81 closed

[2019-04-04 20:10] #83 closed

[2019-04-04 20:10] #84 closed

[2019-04-04 20:11] abjerner commented on #85
I've posted my answer [here](https://github.com/abjerner/Skybrud.Social/issues/58#issuecomment-479011065) as you asked the same question in an existing issue.

[2019-04-04 20:11] #85 closed

[2019-04-04 20:21] abjerner commented on #86
Please help me help you by providing some more details.

For instance, what version of the package have you installed?

This package supports multiple services. What service are you referring to?

[2019-07-11 14:16] digbyswift opened #87 "OAuthRequestToken is not serializable"
We are trying to use Skybrud.Social.Umbraco v0.9.6 with an existing v7 site hosted on Azure using Redis as sessionState backing.

When the app authorization callback (https://site.local/App_Plugins/Skybrud.Social/Dialogs/TwitterOAuth.aspx) is performed, the package attempts to store the token in session state but this fails with the following exception:

   System.Runtime.Serialization.FormatterSe

[2019-07-24 20:19] abjerner commented on #87
Hi @digbyswift and thanks for reporting 👍

The classes in Skybrud.Social were never designed to be serialized this way, and I haven't worked with binary serialization for quite some time, so I'm not sure how best to fix this. Your issue also very much an edge case (you're the first to report this in the five years the Umbraco 7 package has existed), so this is not something I will work on a fix fo

[2019-07-24 20:21] #86 closed

[2019-10-08 11:55] ProNotion opened #88 "Instagram Graph API Support"
Firstly - thanks for a great package! Can I ask if you have plans to update the package to work with the new Instagram Graph API since I understand the current implementation is being deprecated by the end of the year?

[2019-10-08 20:39] abjerner commented on #88
Maybe 🙃

The old Instagram Platform API will close early 2020 - whatever that means.

I haven't really looked at both the Facebook and Instagram APIs for a while. Facebook has made some changes to their APIs over the past year which makes it really frustrating to be a developer working with their APIs - for instance clamping down on API access. I also haven't had the time (or made it a priority de

[2019-10-16 14:27] JamiePattison opened #89 "Having to re-authorise often"
I have a website using Skybrud social.

I setup the site and authorised the app to be used. All is working and every few days i have to do this again to get the images showing again.

Is there a way to minimise this? I do understand that Instagram can revoke the token access whenever but wonder if there is a way to re-authorise without having to login?

[2019-12-10 12:59] etharion commented on #88
Hey @abjerner

We, from Tea Solutions, were also interested if there's any plans or new status on Skybrud.Instagram? Have you had time to look into it since October?
We need to find a plan B if it's further down the timeline, so we don't end up with "angry customers" 😅

Wonderful package I must say, annoying that Facebook make changes so frequently tho.

[2019-12-10 14:51] abjerner commented on #88
Hi @etharion,

After @ProNotion created this issue, I had another look at the new Instagram Graph API, which resulted in some proof of concept code that makes accessing the new API possible. I can look into pushing that to GitHub.

The biggest problem will however be getting approved to access the API. I haven't been able to get an app approved yet, so for now, I've only been testing with dev acce

[2019-12-24 07:41] biapar commented on #88
I’m able to show instagram feed but today the problem is to pass the Facebook review. They want a video, a code, etc...

[2020-02-11 08:27] etharion commented on #88
Hi @abjerner

Are you currently working on a new release behind the scene? If not, no worries, we will start to look into it ourselves.

[2020-02-16 00:06] abjerner commented on #88
Hi everyone,

There are still some uncertainties about the new Graph API, but I've pushed a new beta release of the standalone [**Skybrud.Social.Instagram**](https://github.com/abjerner/Skybrud.Social.Instagram) package that adds some support for the new API - including getting recent media:

https://github.com/abjerner/Skybrud.Social.Instagram/releases/tag/v1.0.0-beta005

Keep in mind that this o

[2020-02-16 00:06] #88 closed

[2020-02-16 00:08] #89 closed

[2020-02-16 00:08] #87 closed

[2020-03-23 11:56] etharion commented on #88
Hi @abjerner

I've been working to get the new API running. We have gotten content out of our instagram account, but using the User Token, which seems to expire after 3 months (page token seem to last even less). The App token I can't seem to be able to use for anything. Is there a way to get the feed from an instagram account thats linked to the App with a token that never expires?

[2020-03-23 12:48] abjerner commented on #88
@etharion I don't think you'll be able to use app access tokens for this. But when you have long lived user-access token, you can renew before it expires:

https://github.com/abjerner/Skybrud.Social.Facebook/blob/master/src/Skybrud.Social.Facebook/OAuth/FacebookOAuthClient.cs#L253

If you still need a page access token, you can use your user access token to get a new page access token whenever the

[2020-10-09 16:50] jamiehowarth0 opened #91 "Feature request: generic OAuth support"
I'm going to fork and start a lib that'll add generic OAuth support because I have an unusual requirement to connect to general OAuth2 endpoints. Also, are there any plans to upgrade to support Umbraco 8?

[2020-10-09 17:31] abjerner commented on #91
Hi @jamiehowarth0,

Sounds interesting 😉

Keep in mind that this repo is no longer maintained, as the project has spawned into individual repos/packages instead - eg. [Skybrud.Social.Facebook](https://github.com/abjerner/Skybrud.Social.Facebook) and [Skybrud.Social.Google](https://github.com/abjerner/Skybrud.Social.Google) (both using OAuth 2).

The individual packages have a dependency for our [S

[2021-07-02 17:00] #91 closed